#carousel-container {
  overflow: hidden;
  width: 600px;
  margin: 0 auto;
  position: relative;
}
#carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

#carousel-images img {
  width: 100%;
  height: auto;
}
.carousel-buttons {
  position: absolute;
  bottom: 70%;
  left: 50%;
}
.back-btn {
  position: absolute;
  width: 40px;
  right: 316px;
}
.next-btn {
  width: 40px;
  position: absolute;
  left: 316px;
}
